ul {
  list-style-type: none;
}

li {
	font-size:20px;
}

input[type="text"] {
    font-size:24px;
}

input[type="checkbox"] {
    font-size:50px;
}

.titleBar {
    display: inline;
}

.menuBar {
    display: inline-block;
    margin-left: 0;
}

.filters {
    display: inline;
    margin-left: 0;
}

.searchResults {
    display: inline;
}

#map {
	float: right;
	margin-top: 0%;
}